/*
#041725
#445266
#a6adb5
#152740
#E1E4E7
#A4ADB7
#F0F2F4
*/

html,
body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #445266;
    font-size: 12px;
    background-color: #F0F2F4;
}
a{
    color: #445266;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #152740;
}
*, ::after, ::before{
    box-sizing: border-box;
}
h1,h2{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size: 14px;
    color: #FFF;
    font-weight: 600;
}
h3{
    font-size: 14px;
    color: #152740;
    font-weight: bold;
    font-family: "Roboto Condensed";
}

.button-group{
    float: right;
}
.button-group .button{
    border: 1px solid #E1E4E7;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    background: #fff;
    float: left;
    font-size: 11px;
    cursor: pointer;
}
.button-group .button.active{
    background-color: #E1E4E7;
}
.button-group .button:first-child{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-right: -1px;
}
.button-group .button:last-child{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/*================Map=================*/
.map{
    position: fixed;
    left: 0;
    top: 46px;
    bottom: 0;
    right: 520px;
}

/*================Form================*/
.input{
    color: #445266;
    font-family: inherit;
    font-size: 12px;
    line-height: 18px;
    -webkit-font-smoothing: inherit;
    border: 1px solid #e1e4e7;
    padding: 6px 8px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 2px;
    height: 32px;
}
.input:focus{
    outline: none;
}

/*===============Header================*/
.header{
    width: 100%;
    height: 47px;
    background-color: #ffffff;
    z-index: 999;
    position: fixed;
    border-bottom: 1px solid #E1E4E7;
}
.header .logo{
    margin-left: 15px;
    margin-right: 40px;
    float: left;
    padding: 7px 0;
    display: block;
}
.header .h-group{
    width: 190px;
    text-align: right;
    margin-left: 56px;
}
.header .logo img{
    height: 32px;
    float: left;
}
.header h1{
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight:bold;
    color: #152740;
    text-transform: uppercase;
    position: relative;
    top: -1px;
}
.header .subtitle{
    color: #A4ADB7;
    /* text-transform: uppercase; */
    font-weight: normal;
}
.header .filter{padding: 7px 0;}
.header .searchbox{
    position: relative;
    width: 180px;
    height: 32px;
    display: inline-block;
    margin-right: 10px;
}
.header .searchbox .icon-search{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    color: #445266;
    text-align: center;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 31px;
}
.header .filter *{
    vertical-align: middle;
}
.header .label{
    margin-left: 17px;
    padding-right: 5px;
    font-weight: 300;
}
.header .selectbox{
    display: inline-block;
    width: 120px;
}
.header .selectbox-mid{
    width: 135px;
}
.header .selectbox-long{
    width: 190px;
}
.header .help{
    float: right;
    height: 32px;
    line-height: 32px;
    padding: 7px 15px;
}
.header .icon{
    
}

/*=================Legend================*/
.map-legend{
    position: fixed;
    left: 0px;
    top: 47px;
    background: rgba(255,255,255,0.95);
    /* box-shadow: 0 1px 4px rgba(10,20,30,0.3); */
    padding: 10px;
    z-index: 1;
    border-right: 1px solid #E1E4E7;
    border-bottom: 1px solid #E1E4E7;
    width: 320px;
    display: none;
}
.legend .legend-title{
    font-weight: bold;
    line-height: 1.8em;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.legend ul{

}
.legend .top-fifth{
    color: #00C8FF;
}
.legend .upper-middle{
    color: #4096BF;
}
.legend .middle-class{
    color: #806480;
}
.legend .lower-middle{
    color: #BF3240;
}
.legend .bottom-fifth{
    color: #EE3345;
}
.legend .undefined{
    color: #DBE2E6;
}
.legend li{
    line-height: 26px;
    height: 26px;
}
.legend .desp{
    float: right;
    color: #a6adb5;
    font-size: 10px;
}
.chart-legend-container{
    height: 65px;
}
.chart-legend{
    padding: 10px 12px 10px;
    background-color: rgba(255,255,255,0.95);
}
.chart-legend li{
    display: inline-block;
    padding: 0 8px;
}
.chart-legend .desp{
    float: none;
    padding-left: 19px;
    position: relative;
    top: -6px;
}
.chart-legend .icon-circle{
    font-size: 12px;
}

/*=================Panel=================*/
.panel{
    background: #fff;
    width: 520px;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 47px;
    z-index: 998;
    border-left: 1px solid #E1E4E7;
    box-sizing: initial;
    overflow-y: auto;
}
.panel .range-slider{
    padding: 20px 20px 15px 20px;
    background-color: #F0F2F4;
    height: 140px;
    margin-bottom: 10px;
    overflow: hidden;
}
.panel .range-slider h3{
    margin-bottom: 15px;
}
.panel .panel-header{
    background: #041725;
    height: 46px;
    padding: 0 20px;
    line-height: 46px;
}
.panel .panel-content{
}
.chart-component{
    padding: 20px;
    background: #fff;
    /* position: relative; */
}
.chart-component .chart-content-wrapper{
    position: relative;
    width: 480px;
    height: 240px;
}
.chart-component .chart-content{/* position: relative; */}
.chart-component .chart-title {
    margin-bottom: 10px;
}
.chart-component .chart-title h3{
    line-height: 24px;
    text-transform: capitalize;
}


/*===========slider========*/
.irs-line{
    background-image: url(../img/slider_bg.png);
    background-repeat: repeat-y;
    background-size: 100%;
    border: 0 none;
    border-radius: 0;
    height: 8px;
}
.irs-bar{
    /*background-image: url(../img/slider_bg.png);
    background-repeat: repeat-y;*/
    background: none;
    border-top: 0;
    border-bottom: 0;
}
.irs-slider{
    border: 0 none;
    background: #fff;
    width: 25px;
    height: 25px;
}
.irs-from, .irs-to, .irs-single{
    background: transparent;
    /* border-radius: 2px; */
    font-size: 10px;
    height: 19px;
    line-height:19px;
    padding: 0 5px;
    color: #152740;
    font-weight: lighter;
    opacity: 0.5;
}
.irs-grid-pol{
    background: #a6adb5;
}
.irs-grid-pol.small{
    background: #a6adb5;
}
.irs-grid-text{
    color: #152740;
}


/*=================Map==================*/
.leaflet-container .leaflet-control-attribution {
    font-family: 'Roboto', sans-serif;
}
/*
 * These CSS rules affect the tooltips within maps with the custom-popup
 * class. See the full CSS for all customizable options:
 * https://github.com/mapbox/mapbox.js/blob/001754177f3985c0e6b4a26e3c869b0c66162c99/theme/style.css#L321-L366
*/
.custom-popup .leaflet-popup-content-wrapper {
    background: rgba(255,255,255,0.95);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
}
.custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.5);
}
.custom-popup .leaflet-popup-content{
    padding: 10px 10px 10px 10px;
}
.custom-popup .leaflet-popup-content .label{
    opacity: 0.5;
    padding-right: 5px;
}
.custom-popup .leaflet-popup-tip-container {
    width:30px;
    height:15px;
}
.custom-popup .leaflet-popup-tip {
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:15px solid #2c3e50;
    border: none;
}

.map-popup-container{
    position: fixed;
    left: 0px;
    top: 47px;
    background: rgba(255,255,255,0.95);
    /* box-shadow: 0 1px 4px rgba(10,20,30,0.3); */
    padding: 10px;
    z-index: 1;
    border-right: 1px solid #E1E4E7;
    border-bottom: 1px solid #E1E4E7;
    width: 320px;
    display: none;
}
.map-popup-container .icon-cancel{
    position: absolute;
    right: 10px;
    font-size: 14px;
    top: 12px;
}
.map-popup-container .icon-cancel:hover{
    color: #EE3345;
}
.map-popup{
    font-size: 11px;
    line-height:18px;
}
.map-popup .title .class{
    float: right;
    font-size: 12px;
}
.map-popup .income{margin-bottom: 10px;}
.map-popup .income strong{
    font-weight: bold;
    font-size: 12px;
    color: #152740;
}
.map-popup table{
    width: 100%;
    table-layout: fixed;
}
.map-popup th,
.map-popup td{
    padding-right: 5px;
}
.map-popup th{
    color: #a6adb5;
    border-bottom: 1px solid #E1E4E7;
    text-transform: uppercase;
    text-align: right;
}
.map-popup td{
    border-bottom: 1px solid #e1e4e7;
    text-align: right;
    padding-top: 2px;
    vertical-align: middle;
}
.map-popup .num{
    width: 40px;
}
.map-popup .pct{
    width: 50px;
}
.map-popup .indicator{
    text-align: left;
}
.map-popup .tract-name{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
    color: #152740;
}

/*=================Tooltip====================*/
.tooltip {
    position: absolute;
    padding: 8px;
    background: rgba(255, 255, 255, 0.95);
    pointer-events: none;
    z-index: 999;
    box-shadow: 0 1px 4px rgba(10, 20, 30, 0.3);
    line-height: 16px;
    font-size: 11px;
}
.tooltip .tract-name{
    color: #a6adb5;
    text-transform: uppercase;
}
.tooltip strong {
    color: #152740;
    font-weight: bold;
    font-size: 12px;
}